{% extends 'base.html' %}


{% block body %}

        <div class="container">
            <br>
            <h4>Compras Cadastradas no Sistema:</h4> <br>
            

            <div class="container mt-0 d-flex">

                    <div class="d-flex">
                        <div class="ml-3 w-2000">
                            <table class="table table-striped table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th>Ação</th>
                                        <th>Data Compra</th>
                                        <th>Quantidade</th>
                                        <th>Valor Unitário</th>
                                        <th>Taxas</th>
                                        <th>Custo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for compra in compras %}
                                    <tr>
                                        <td>{{ compra.acao.ticker }}</td>
                                        <td>{{ compra.data_formatada }}</td>
                                        <td>{{ compra.quantidade }}</td>
                                        <td>{{ compra.valor }}</td>
                                        <td>{{ compra.taxas }}</td>
                                        <td>{{ compra.custo_formatado }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
<div class="row mt-5">

</div>
{% endblock %}
